extends global/base

block content
  h1=title
  p Make a room!
  form#make-room.form-inline(action="/api/rooms" method="post")
    .input-group
      input.form-control(type="text" name="name" placeholder="Room name")
      span.input-group-btn
        button.btn.btn-primary(type="submit") Create
