extends global/base

block content
  h1= 404
  p 
    | Sorry, the room 
    strong #{roomId} 
    | no longer exists (because everyone left), or was typed incorrectly. 
    br
    a(href='/') Try making a new room!
