extends global/base

block content
  h1= room
  div(ng-controller='tabsCtrl as tc')
    .notifs(ng-controller='notifsCtrl as nc')
      .alert(role='alert' ng-repeat='notif in nc.notifs' ng-class='"alert-" + notif.type')
        button.close(type='button' aria-label='Close' ng-click='nc.dismissNotif(notif)')
          span(aria-hidden='true') &times;
        span.msg {{ notif.msg }}

    ul.tab-bar.nav.nav-tabs
      li(ng-repeat='tab in tc.tabs' ng-class='{active: tc.isActive(tab.name), disabled: !tab.enabled}'
         ng-disabled='!tab.enabled' ng-click='tab.enabled && tc.setTab(tab.name)')
        a {{ tab.name }}

    .dash(ng-show='tc.dashActive()')
      form(ng-controller='uNameCtrl as uc' name='usernameForm' ng-submit='uc.submitUsername(usernameForm.$valid)' ng-disabled='uc.socketing' novalidate
      ng-class='{"has-error": usernameForm.$invalid && !usernameForm.$pristine}')
        .form-group
          .input-group
            input.form-control(type='text' name='username' placeholder='Username' ng-model='uc.username' required)
            span.input-group-btn
              button.btn(type='submit' ng-class='uc.hasUser ? "btn-success" : "btn-primary"' ng-disabled='usernameForm.$invalid || !uc.usernameChanged()') {{ uc.hasUser ? 'Change Username' : 'Set Username' }}
